
%editable-text {
    border: 1.5pt dashed transparent;
    border-radius: 3pt;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    padding: .25em 8pt;
    box-sizing: border-box;
    @media screen { border-color: #ddd; }

    &:hover {
        border-color: #666;
    }

    &:focus {
        border-color: #666;
        border-style: solid;
    }
}