
.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    @media screen { padding: 0 1cm; }

    & > div {
        width: 100%;
        @media screen { max-width: 17cm; }
    }
}