
@use "../constants.scss";

.header {
    font-weight: bold;
    height: 3.5em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    @media screen { display: flex; }
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1cm;
    user-select: none;
    border-bottom: 2px solid #ddd;

    .left {
        .title {
            margin: 0;
            font-size: 1.5em;
            font-weight: normal;
        }
    }

    .right {
        height: 100%;
        ul {
            height: 100%;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            margin: 0;
        }
    }

    @media screen and (max-width: constants.$mobile-width) {
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
        height: auto;

        .left { margin-bottom: .5em; }
    }
}

.navItem {
    height: 100%;

    button {
        height: 100%;
        border: none;
        padding: 0 1.5em;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        font-family: inherit;

        .icon {
            margin-right: .5em;
            font-size: 1.7em;
        }

        .text {
            font-size: 1.2em;
        }

        &:hover .text {
            text-decoration: underline;
        }
    }
}