
.container {
    display: block;
    width: 100%;
    text-align: center;
    padding: 6em 0;

    h1 {
        font-weight: normal;
    }

    p {

        a {
            color: inherit;

            &:hover {
                opacity: .7;
            }
        }
    }
}